.pull-center{
  display:block;
  margin:auto;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.clearfix{
  display: inline-block;
}

.clearfix:after{
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
  content: ".";
  font-size: 0.01em;
}

body {
  padding: 0px;
  background-image: url("/assets/img/noisy_grid.png");
}

.nav_icon{
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

.room_table_div{
  max-width: 400px;
}
.room_table{
  width: 100%;
  max-width: 400px;
}
.half{
  width: 49%;
}
.chat_row{
  width: 80%;
  max-width: 750px;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 10px;
}
.label{
  padding: 7px !important;
  box-shadow: inset 1px 3px 3px rgba(0,0,0,0.2);
}

h1,h2,h3,h4{
  text-shadow:0px 1px 2px rgba(0,0,0,0.5)
}
th:hover{
  background-color: rgba(0,0,30,0.1);
  box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,0.1);
}
