@()

@main("OctChat") {
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/"><i class="icon-github"></i> OctoChat</a>
  </div>
</div>

<div class="text-center">

<div><img src="@routes.Assets.at("img/collabocats.jpg")" style="width:300px;box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);" class="img-rounded"></div>
<br>
<h1>OctoChat</h1>
<h2>Github + Chat</h2>
<br>
<a href="/signin" class="btn btn-large btn-success"><i class="icon-github icon-spin icon-2x"></i><h1>Signin</h1></a>


</div>    
}