@()

@main("OctoChat") {

@navbarWithoutLogin()
<div class="text-center">
  <div>
    <img src="@routes.Assets.at("img/collabocats.jpg")" style="width:175px;box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.2);" class="img-rounded">
  </div>
  <br>
  <h2>OctoChat</h2>
  <img src="@routes.Assets.at("img/octocat.png")" style="width:40px;">　
  <img src="@routes.Assets.at("img/chat.png")" style="width:50px;">
  <h4>GitHub + Chat</h4>
  <p>GitHubのRepositoryを<br>ChatRoomに。</p>
  <br>
  <a href="/signin" class="btn btn-large btn-success"><i class="icon-github icon-spin icon-2x"></i><h1>Login</h1></a>
</div>
<br><br>
<div class="pull-center" style="width:250px;background-color:rgba(255,255,255,0.7);box-shadow:0 0 5px 5px rgba(255,255,255,0.7);">
  <strong>「なんかビルド通らなくなった」</strong><br>
  <strong>「$make cleanしたら通るよ」</strong><br>
  みたいなやりとりを、<br>Githubのwikiやissueでするのは<br>ちょっと違う気がする。<br>
  そこで、GitHubのrepositoryごとに<br>Chatできるようにしました。<br>
</div>
<br>
<footer class="text-right" style="background-color:rgba(255,255,255,0.7);">
  <a href="http://qiitahackathon03.peatix.com" class="light_link"><span style="color:white;background-color:#44bb44;border-radius:4px;">&nbsp;Qiita&nbsp;</span> Hackathon</a>　　<br>
  <a href="https://github.com/yoshik/octochat" class="light_link"><i class="icon-github-alt"></i> yoshik/octochat</a>　　
</footer>
<br>
}{ }
