@(user: String)(icon:String)(rooms:Seq[String])

@main("OctoChat:"+user) {

@navbarWithLogin(user,icon){ }

<div class="room_table_div pull-center">
  <h1>Chat Rooms</h1>
  <table class="table room_table">
      @rooms.map{room=>
        <tr><th><a href="/room/@room" class="room_link">@room</a></th></tr>
      }
  </table>
</div>
<hr>
<h3 class="text-center"><a href="/help" class="light_link"><i class="icon-question-sign"></i> Help</a></h3>

}{
<script>
  function toast(){
  toastr.options = {
   fadeIn:1000,
   fadeOut:1000,
   timeOut:2000,
   extendedTimeOut:2000,
   positionClass:'toast-top-right',
   debug:false
   };
    toastr.options.onclick =  function (){window.open('/help');};
    toastr.info("Please Watch repository","Hint");
  }
  
  $(document).ready(function () {
    toast();
    $("#nav_room").addClass("active");
  });
</script>
}
