@(author:String, owner:String, repo:String, message:String)
<div class="chat_row pull-center">
  <span class="label label-info">
   <a href="https://github.com/@owner/@repo"><img class="git_icon" src="@routes.Assets.at("img/giticon.png")"></a>
   <a href="/room/@owner/@repo"> @owner / @repo </a>
  </span> 
  <span class="label label-inverse">
   <a href="https://github.com/@author"><img class="icon_@author author_icon"></a>
   @author
  </span>　
  <div class="mes"><strong>@message</strong></div>
</div>