@(user:String,icon:String)(nav_item:Html)
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/"><i class="icon-github"></i> OctoChat</a>
    <ul class="nav">
      <li id="nav_room"><a href="/">Rooms</a></li>
      <li id="nav_watch"><a href="/watch">Watch Repos</a></li>
      <li id="nav_public"><a href="/timeline">Public</a></li>
      @nav_item
    </ul>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/signout"><img src="@icon" class="nav_icon">　@user</a>
        <ul class="dropdown-menu">
          <li><a href="https://github.com/@user"><i class="icon-github"></i> github</a></li>
          <li><a href="/signout"><i class="icon-remove-sign"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
