@(author:String, icon:String, owner:String, repo:String)(talks: List[ChatModel], messageForm: Form[String])


@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.twitterBootstrapInput.f) }

@main("OctoChat:Room") {
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/"><i class="icon-github"></i> OctoChat</a>
    <ul class="nav">
      <li ><a href="/">Rooms</a></li>
      <li><a href="/watch">Watch Repos</a></li>
      <li><a href="/timeline">Public</a></li>
      <li class="active"><a href="/room/@owner/@repo">@owner / @repo</a></li>
    </ul>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/signout"><img src="@icon" class="nav_icon">　@author</a>
        <ul class="dropdown-menu">
          <li><a href="/signout"><i class="icon-remove-sign"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

    @form(routes.Chat.post(owner, repo, author),'class -> "form-horizontal") {
        <div class="pull-center half text-center">
        @inputText(messageForm("message")) 
        </div>
    }
    
        @talks.reverse.map { talk =>
        <div class="chat_row pull-center">
          <span class="label label-inverse">@talk.author</span>　<strong>@talk.message</strong>
        </div>
        }
        
    <hr><h6 class="text-right">@talks.size messages　</h6>


}{ }