@(user: String)(icon:String)

@main("Welcome to Play 2.0") {

    @user<br>
    <img src="@icon"><br>

    <br><h1>chat</h1><br>
    <textarea id="talk"></textarea>
        
    <br><h1>mes</h1><br>
    <div id="messages"></div>
    <br><h1>member</h1><br>
    <div id="members"></div>



    <script type="text/javascript" charset="utf-8">
      $(function() {
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
      @*      var chatSocket = new WS("@routes.Chat.join(user).webSocketURL()")
       *@     
            var sendMessage = function() {
                chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
                ))
                $("#talk").val('')
            }
            
            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
                
                // Handle errors
                if(data.error) {
                    chatSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#onChat").show()
                }
                
                // Create the message element
                var el = $('<div class="message"><span></span><p></p></div>')
                $("span", el).text(data.user)
                $("p", el).text(data.message)
                $(el).addClass(data.kind)
                if(data.user == '@user') $(el).addClass('me')
                $('#messages').append(el)
                
                // Update the members list
                $("#members").html('') 
                $(data.members).each(function() {
                    $("#members").append('<li>' + this + '</li>')
                })
            }
            
            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                } 
            }
            
            $("#talk").keypress(handleReturnKey)  
            
            chatSocket.onmessage = receiveEvent
            
        })
    
    </script>




}