@(author:String, icon:String, owner:String, repo:String)

@import helper._

@main("title") {
@*    
    <h1>@talks.size message</h1>
    
    <ul>
        @talks.map { talk =>
            <li>
                @talk.message
            </li>
        }
    </ul>
    
    <h2>Post</h2>
    
    @form(routes.Chat.post(owner,repo)) {
        
        @inputText(messageForm("message")) 
        
        <input type="submit" value="Create">
        
    }
*@

@author
<br>
@icon
<br>
@owner
<br>
@repo
}