@(author:String, icon:String)(talks: List[ChatModel])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.twitterBootstrapInput.f) }

@main("OctoChat:Timeline") {
  <script>var users={};</script>

  @navbarWithLogin(author,icon){ }
    
  @talks.reverse.map { talk =>
    @mes(talk.author,talk.owner,talk.repo,talk.message)
    @icon_set(talk.author)
  }
      
  <hr><h6 class="text-right">@talks.size messages　</h6>

}{
<script>
  $(document).ready(function () {
    $("#nav_public").addClass("active");
    @icon_load()
  });
</script>
}