@(author:String, icon:String)(talks: List[ChatModel])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.twitterBootstrapInput.f) }

@main("OctoChat:Timeline") {

@navbarWithLogin(author,icon){ }
    
    @talks.reverse.map { talk =>
    <div class="chat_row pull-center">
      <span class="label label-info"><a href="https://github.com/@talk.owner/@talk.repo">@talk.owner / @talk.repo</a></span> 
      <span class="label label-inverse"><a href="https://github.com/@talk.author">@talk.author</a></span>　
      <div class="mes"><strong class="mes">@talk.message</strong></div>
    </div>
    }
        
    <hr><h6 class="text-right">@talks.size messages　</h6>


}{
<script>
  $(document).ready(function () {
    $("#nav_public").addClass("active");
  });
</script>
}