@(author:String, icon:String)(talks: List[ChatModel])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.twitterBootstrapInput.f) }

@main("OctoChat:Timeline") {
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/"><i class="icon-github"></i> OctoChat</a>
    <ul class="nav">
      <li ><a href="/">Rooms</a></li>
      <li><a href="/watch">Watch Repos</a></li>
      <li class="active"><a href="/timeline">Public</a></li>
    </ul>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/signout"><img src="@icon" class="nav_icon">　@author</a>
        <ul class="dropdown-menu">
          <li><a href="/signout"><i class="icon-remove-sign"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
    
    @talks.reverse.map { talk =>
    <div class="chat_row pull-center">
      <span class="label label-info"><a href="https://github.com/@talk.owner/@talk.repo">@talk.owner / @talk.repo</a></span> 
      <span class="label label-inverse"><a href="https://github.com/@talk.author">@talk.author</a></span>　
      <strong>@talk.message</strong>
    </div>
    }
        
    <hr><h6 class="text-right">@talks.size messages　</h6>


}{ }